<div class="panel-group" id="accordion">
		<div class="panel panel-default" ng-repeat="deck in decks">
		<div class="panel-heading">
			<h4 class="panel-title">
				<div class="row" style="padding: 5px 10px;">

					<div class="col-md-6">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{deck.id}}">
				          {{deck.name}}
				        </a>
					</div>

					<div class="col-md-2">
						<a href="#/decks/{{deck.id}}">
							<span class="glyphicon glyphicon-wrench"></span>
						</a>
					</div>

					<div class="col-md-2">
						<a ng-click="save()">
							<span class="glyphicon glyphicon-floppy-save"></span>
						</a>
					</div>
					<div class="col-md-2">
						<a ng-click="addCard()">
							<span class="glyphicon glyphicon-plus-sign"></span>
						</a>
					</div>
				</div>
			</h4>
		</div>
	    <div id="collapse{{deck.id}}" class="panel-collapse collapse in">
	      	<div class="panel-body">


	      		<div class="row" style="padding: 5px 10px;" ng-repeat="card in deck.cards">
	      			<div class="col-md-3">
	      				<span class="badge">{{card.httpMethod}}</span>
	      			</div>
	      			<div class="col-md-7">
	      				<a href="#/cards/{{card.id}}" class="pull-left"> {{card.name}}</a>
	      			</div>
					<div class="col-md-2">
							<a ng-click="removeCard(card.id);">
								<span class="glyphicon glyphicon-minus-sign"></span>
							</a>
					</div>
	      		</div>

			</div>
	    </div>
		</div>
</div>