

<div class="row">

	<div class="col-md-3" ng-controller="DecksCtrl">
		<navdeck></navdeck>
	</div>


	<div class="col-md-9" ng-controller="DeckCtrl">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<b>{{deck.name}}</b>
			</div>
			<div class="panel-body">
  			<form class="form-horizontal" role="form">
			  <div class="form-group">
			    <label for="deckName" class="col-sm-2 control-label">Name</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="cardName" placeholder="Name" ng-model="deck.name">
			    </div>
			  </div>


			  <div class="form-group">
			    <label class="col-sm-2 control-label">Properties</label>
			    <div class="col-sm-10">
					
					<div class="row form-group" ng-repeat="property in deck.properties">

			    		<div class="col-md-3">
			    			<input ng-hide="editmode.mode == 'PROPERTY' && editmode.prevkey == property.key" type="text" class="form-control" value="{{property.key}}" disabled>
			    			<input ng-show="editmode.mode == 'PROPERTY' && editmode.prevkey == property.key" type="text" class="form-control" ng-model="editmode.key">
		    			</div>
		    			<div class="col-md-7">
			    			<input ng-hide="editmode.mode == 'PROPERTY' && editmode.prevkey == property.key" type="text" class="form-control" value="{{property.value}}" disabled>
			    			<input ng-show="editmode.mode == 'PROPERTY' && editmode.prevkey == property.key" type="text" class="form-control" ng-model="editmode.value">
		    			</div>
		    			<div class="col-md-2 header-control">
							<a ng-hide="editmode.mode == 'PROPERTY' && editmode.prevkey == property.key" ng-click="removeItem(property.key,'PROPERTY')">
								<span class="glyphicon glyphicon-minus-sign"></span>
							</a>
							<a ng-show="editmode.mode == 'PROPERTY' && editmode.prevkey == property.key" ng-click="saveItem('PROPERTY')">
								<span class="glyphicon glyphicon-floppy-disk"></span>
							</a>
							<a ng-hide="editmode.mode == 'PROPERTY' && editmode.prevkey == property.key" ng-click="editItem(property.key,'PROPERTY')">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a ng-show="editmode.mode == 'PROPERTY' && editmode.prevkey == property.key" ng-click="cancelEditItem()">
								<span class="glyphicon glyphicon-floppy-remove"></span>
							</a>
		    			</div>

			    	</div>

					<div class="row form-group">
			    		<div class="col-md-3">
			    			<input type="text" class="form-control" ng-model="propertyaddmode.key">
		    			</div>
		    			<div class="col-md-7">
			    			<input type="text" class="form-control" ng-model="propertyaddmode.value">
		    			</div>
		    			<div class="col-md-2 header-control">
							<a  ng-click="addItem('PROPERTY')">
								<span class="glyphicon glyphicon-plus-sign"></span>
							</a>
		    			</div>
			    	</div>

			    </div>
			  </div>


			  <div class="form-group" >
			    <label for="requestData" class="col-sm-2 control-label">Headers</label>
			    <div class="col-sm-10">

			    	<div class="row form-group" ng-repeat="header in deck.headers">

			    		<div class="col-md-3">
			    			<input ng-hide="editmode.mode == 'HEADER' && editmode.prevkey == header.key" type="text" class="form-control" value="{{header.key}}" disabled>
			    			<input ng-show="editmode.mode == 'HEADER' && editmode.prevkey == header.key" type="text" class="form-control" ng-model="editmode.key">
		    			</div>
		    			<div class="col-md-7">
			    			<input ng-hide="editmode.mode == 'HEADER' && editmode.prevkey == header.key" type="text" class="form-control" value="{{header.value}}" disabled>
			    			<input ng-show="editmode.mode == 'HEADER' && editmode.prevkey == header.key" type="text" class="form-control" ng-model="editmode.value">
		    			</div>
		    			<div class="col-md-2 header-control">
							<a ng-hide="editmode.mode == 'HEADER' && editmode.prevkey == header.key" ng-click="removeItem(header.key,'HEADER')">
								<span class="glyphicon glyphicon-minus-sign"></span>
							</a>
							<a ng-show="editmode.mode == 'HEADER' && editmode.prevkey == header.key" ng-click="saveItem('HEADER')">
								<span class="glyphicon glyphicon-floppy-disk"></span>
							</a>
							<a ng-hide="editmode.mode == 'HEADER' && editmode.prevkey == header.key" ng-click="editItem(header.key,'HEADER')">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a ng-show="editmode.mode == 'HEADER' && editmode.prevkey == header.key" ng-click="cancelEditItem()">
								<span class="glyphicon glyphicon-floppy-remove"></span>
							</a>
		    			</div>

			    	</div>
					<div class="row form-group">
			    		<div class="col-md-3">
			    			<input type="text" class="form-control" ng-model="headeraddmode.key">
		    			</div>
		    			<div class="col-md-7">
			    			<input type="text" class="form-control" ng-model="headeraddmode.value">
		    			</div>
		    			<div class="col-md-2 header-control">
							<a  ng-click="addItem('HEADER')">
								<span class="glyphicon glyphicon-plus-sign"></span>
							</a>
		    			</div>
		    		</div>

			    </div>
			  </div>


		  
			</form>

			</div>
	</div>
</div>